body {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style : italic;
}

.sup {
  color: #fff;
  background: red;
  padding: 7px 7px;
  text-decoration: none;
  width : 180px;
  margin : auto;
  font-weight: bold;
  font-style : italic;
}
