<div class="sup">Noah</div>
<div>Kingston Consulting</div>
<div>Palace</div>



<h2>{{title}}</h2>
<app-gantt-chart [elementId]="elementId3" ></app-gantt-chart>
<div class="divTable">
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableCell"><app-pie-chart [data]="data1" [config]="config1" [elementId]="elementId1"></app-pie-chart></div>
      <div class="divTableCell"><app-pie-chart [data]="data2" [config]="config2" [elementId]="elementId2"></app-pie-chart></div>
    </div>
  </div>
</div>



